<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/gregi88"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/gregi.s/?hl=en"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/grzegorz.stachowiak.96"><i class="fab fa-facebook"></i></a>

    <a href="https://www.linkedin.com/in/grzegorz-stachowiak-1b2054177/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
   <!-- <i class="fas fa-hea"></i> -->
  </div>
</div>
