#home {
  color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  p {
    margin-top: 1.5em;
  }


}



.map {
  border: 1px solid black;
}


.home-content {
    position: relative;

  }

