---
title: Copenhagen websites build by Greg Stachowiak fontend developer, programmer
---

<div id="about">
  <div class="about-content">
    <h1>This page was built with <i class="fas fa-heart"></i> by</h1>
    <ul class="list-inline">
      <% data.users.each do |user| %>
        <li>
          <% link_to "https://kitt.lewagon.com/alumni/#{user.github_nickname}", target: "_blank" do %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{user.github_nickname}", class: "img-circle" %>
          <% end %>
          <h2><%= user.name %></h2>
          <p>
            <% link_to "https://github.com/#{user.github_nickname}", target: "_blank" do %>
              <i class="fab fa-github"></i> <%= user.github_nickname %>
            <% end %>
          </p>
        </li>
      <% end %>
    </ul>
  </div>
</div>



    <h3 style="text-align: center;">Where to find me.</h3>
    <div class="map-responsive">
    <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2398.537274364854!2d12.473255216027889!3d55.65451298052717!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46525401da01315d%3A0xa075ed6064601f71!2sBytoften+14%2C+2650+Hvidovre%2C+Denmark!5e1!3m2!1sen!2sus!4v1556291815871!5m2!1sen!2sus"  height="450" frameborder="0" style="border:1px solid black" allowfullscreen></iframe>
    </div>
