---
title: Greg Stachowiak developer, programmer Copenhagen
---


    <div class="logo-big">
    <%= image_tag  "logo.png" %>
    </div>


<div id="home">
  <div class="home-content" >

    <h3>Looking for webdeveloper?</h3>
    <br>
    <h2>Hi, my name is Greg. I'm web developer & programmer living
    in Copenhagen. I make web applications and custom websites.</h2>
    <p class="about">
      <%= link_to "More about me", "about.html" %>
    </p>

  </div>
</div>
