---
title: Grzegorz Stachowiak developer, programmer Copenhagen
---

<div id="home">
  <div class="home-content" >
    <%= image_tag  "logo.png", width: "200" %>
    <h3>Looking for webdeveloper?</h3>
    <br>
    <h2>Hi, my name is Grzegorz. I'm web developer & programmer living
    in Copenhagen. I make web applications and custom websites.</h2>
    <p class="about">
      <%= link_to "More about me", "about.html" %>
    </p>
  </div>
</div>
