---
title: Copenhagen websites build by Greg Stachowiak fontend developer, programmer
---
<div class="black"></div>
  <div class="banner">
    <div class="banner-content">
      <h3><pre>Looking for

webdeveloper ?</pre>
      </h3>
    <button1 class="moving-box"> CLICK ME </button1>

    </div>
  </div>


<div class="logo-big">
  <%= image_tag  "logo.png" %>
</div>


<div id="home">
  <div class="home-content" >

    <h3>Looking for webdeveloper?</h3>
    <br>
    <h2>Hi, my name is Greg. I'm web developer & programmer living
    in Copenhagen. I make web applications and custom websites.</h2>
    <p class="about">
      <%= link_to "More about me", "about.html" %>
    </p>

  </div>
</div>
